[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
colorama=">=0.3.7"
colorclass=">=2.2.0"
pytest-cov=">=2.4.0"
termcolor = "*"
check-wheel-contents = "*"

[requires]
python_version = "3.9"
